.columns > div {
  display: flex;
  flex-direction: column;
  background:  #81AE64;
  background: linear-gradient(90deg,rgba(129, 174, 100, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
  max-width: unset;
  padding: 0;
}

.columns img {
  display: block;
  width: 100%;
}

.columns > div > div {
  padding-left: 24px;
  order: 1;
}

.columns > div > div h1 {
  font-size: 50px;
  color: #fff;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div h1 {
    text-align: right;
    padding-bottom: 150px;

  }
  .columns img {
    display: flex;
    margin: auto;


  }
  .columns > div > div {
    max-width: fit-content;
    flex: 1;
    order: unset;
    padding-left: 50px;
  }
}
